/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery.ui.all
 *= require_self
 */
body { letter-spacing: 0.25em;background-color: #000; font-family: Arial, Helvetica, sans-serif;  color: #fff; }
.hero-wrapper { position: relative;}
.hero { max-width: 100%; width: 100%; height: auto; position:relative; z-index:1;}
.main-down { display:block; position:absolute; top:79%; left:57%; z-index: 9999;}
.main-down img { border:none; display:block;}
.hero-iphone-portrait { width:100%; max-width:100%; height:auto; position:relative; z-index:1;display:none; visibility:hidden;}

/* form fields */
input[type=text], input[type=password] { font-size:1em; width:100%; padding: 5px; border: 2px solid #ccc; -webkit-border-radius: 5px; border-radius: 5px; }
input[type=text]:focus { border-color: #333; }
input[type=submit], button { background: #25A6E1; background: -moz-linear-gradient(top,#25A6E1 0%,#1e3148 100%); background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0)); background: -webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%); background: -o-linear-gradient(top,#25A6E1 0%,#188BC0 100%); background: -ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%); background: linear-gradient(top,#25A6E1 0%,#188BC0 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0); padding: 8px 13px; color: #fff; font-family: 'Helvetica Neue' ,sans-serif; font-size: 1em; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border: 1px solid #1A87B9; }
input[type=submit]:hover, button:hover { background: -moz-linear-gradient(top,#DDDDDD 0%,#ccc 100%); background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#DDDDDD),color-stop(100%,#ccc)); background: -webkit-linear-gradient(top,#DDDDDD 0%,#ccc 100%); background: -o-linear-gradient(top,#DDDDDD 0%,#ccc 100%); background: -ms-linear-gradient(top,#DDDDDD 0%,#ccc 100%); background: linear-gradient(top,#DDDDDD 0%,#ccc 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD',endColorstr='#ccc',GradientType=0); color: #444444; cursor: pointer; }
#entry_comment { font-size: 1em !important; }

/* details fields styles */
.details-field { border: 1px dotted gray !important; background: #FBFBFB; color: #000; -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; -ms-border-radius: 0 !important; -o-border-radius: 0 !important; border-radius:0 !important;}

/* table-less forms */
.field-row { width: 100%; overflow: hidden; display: block; margin-left: 12px; }
.field-row .field { float: left; margin-right: 40px; margin-bottom:20px;}
.field-row .field .field-label { color: #d6dde7; display: block; font-size:1em; }
.field-row .field-label { margin-left: 0px; }
.field-row .field .field-label.inline, .field-row .field .field-value.inline { float: left; margin-right: 10px; margin-top: 0; padding-top: 0; }
.field-row .field .field-value { display: block; margin-top: 3px; padding: 5px 10px 5px 0px; font-size: 1em; }
.field-row .field .field-value.details-field { padding: 5px 10px 5px 3px; }
.field-row.blank { height: 30px; }
.field-row .field .field-button {display:block; margin-top:17px;}

/* fieldset */
fieldset { margin: 1em 0; padding: 1em; border: 2px solid #80c7cd; width:85%; margin: 25px auto 0 auto; }
fieldset label { display: block; }
fieldset label.inline { display: inline; }

legend { font-size: 1em; font-weight: 600; padding: 2px 4px 8px 4px; color: #006e82; }
fieldset { margin-bottom: 30px; background: #000; padding-top: 35px; border:none;            -webkit-box-shadow: 4px 4px 8px 0px;             box-shadow:  4px 4px 8px 0px ;            -webkit-border-radius: 10px;            border-radius: 10px;  }
fieldset legend { text-transform: uppercase; padding-top: 10px; background: #1e3148; color: #fff; font-weight: bold; letter-spacing: 0.25em; }

.footer{ width: 20%; margin: 0 auto 0 auto; font-size: 1em; margin-bottom:15px;}

/* media queries */
@-ms-viewport{
  width: device-width;
}

/* iPhone 5 Portrait */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) 
{ 
	.hero { display:none; visibility:hidden;}
	.hero-iphone-portrait { display:block; visibility:visible;}
	.main-down{ visibility:hidden; display:none; }
	fieldset { width: 80%;}
	textarea { width: 90%; }
	.field { float: left; width: 90%;}
	.footer{ font-size:0.75em; width: 55%;} 
}

/* iPhone5 Landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) 
{ 
	.main-down img { width:40%; height:auto; }
}

/* iPad Retina Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) 
{  
	.main-down { visibility:hidden; display:none; }
	.footer { width: 30%;  }
}

/* iPad Retina Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) 
{ 
	.main-down img { width:70%; height:auto; }
}