/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery.ui.all
 *= require_self
 */
body { margin:0; padding:0; background-color:#000; position:relative;}
.hero-wrapper { position: relative;}
.hero { width:100%; position:relative; z-index:1;}
.main-down { display:block; position:absolute; top:83%; left:57%; z-index: 9999;}
.main-down img { border:none; display:block;}
.hero-iphone-portrait { width:100%; position:relative; z-index:1;display:none; visibility:hidden;}

/* media queries */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) 
{ 
	.hero { display:none; visibility:hidden;}
	.hero-iphone-portrait { display:block; visibility:visible;}
}
